/* My Resets */

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */

body {
    line-height: 1.5;
    font-size: 16px;
    color: #fff;
    padding-bottom: 400px;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

img {
    width: 260px;
    height:260px;
    border-radius: 50%;
    display: block;
    object-fit: cover;
}

hr {
    margin: 32px auto;
    border: 0;
    border-bottom: 2px solid #999;
}

h1 {
    font-size: 36px;
    margin-bottom: 16px;
}

/* Header Styles */

.header {
    background-color: #2E313F;
    text-align: center;
    padding: 32p;
}

.header a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 0 16px;
    text-transform: uppercase;
}

/* Hero Styles */

.Hero {
  background-color: #2E313F;
  text-align: left;
  padding: 120px 0;
}

.hero-heading {
    font-size: 32px;
    text-transform: uppercase;
}

.hero-text {
    text-transform: uppercase;
    color: #ccc;
    font-size: 20px;
}

.blog {
    background-color: #4c5c96;
    padding: 60px 0;
}

.third-header {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 24px;
    text-align: left;
}

.artile-text {
    color: #ccc;
    font-size: 20px;
    display: block;
    margin-bottom: 24px;
}

.article-link {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

.blog-two {
    background-color: #0d2e41;
}

.blog-third {
    background-color: #1d7aaf;
}

/* Footer Styles */

.footer {
   background-color: #2E313F;
   padding: 60px 0;
   font-size: 20px;
   color: #999;   
}